{% set numbers = range(int(number_start), int(number_start) + number_count) %}
{% for number in numbers %}
sip:{{ number }}@{{ domain }},{{ number }}@{{ domain }},{{ domain }},{{ password }}
{% endfor %}